body {
  background: linear-gradient(to right, #e66465, 50%, #9198e5);
  font-size: 30px;
  color: #fff;
}

.container {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
}

a {
  text-decoration: none;
}

table {
  margin: 0;
  font-size: 25px;
}

tr {
  background-color: rgba(102, 51, 153, 0.685);
}

td {
  padding: 20px;
}

.input {
  margin-left: 20px;
  width: 250px;
  height: 30px;
}
